/* Application wide styles */

.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-base: #395bae;
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

/* Component specific styles */


.background-panel {
    -fx-background-image: url("../images/background.jpg");
    -fx-padding: 15;
}

.hello-message {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#shapeTable {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.number-cell {
    -fx-alignment: CENTER;
}

.label.title {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.root {
	error-color: #ffa0a0;
}

.text-field.validation-error {
	-fx-background-color: error-color;
}

.label.error-instructions {
	-fx-text-fill: FIREBRICK;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}



